<div class="container mb-4 mt-5"> <!-- house name and members -->
  <div class="row h-100">
    <div class="col-lg-6 col-md-9 col-sm-12">
      <h1 class="text-wrap black-text"><b>{{group.name}}</b> <!-- add group name -->
      </h1>
      <p class="text-wrap black-text member-name">
        {{!-- Roommates: username 1, username 2, username 3 --}}
          <p>Roommates: 
        {{#each group.people}}
          {{name}} | 
        {{/each }}
          </p>
      </p>
      {{!-- EDIT HOME MODAL BUTTON --}}
      <button class="btn-sm btn-outline-dark edit-button" data-toggle="modal" data-target="#edit-home-modal">Edit</button>
    </div>
  </div>
</div>
<div class="container pb-3"> <!-- TASKS -->
  <div class="row h-100">
    <div class="col-lg-12 col-sm-12 my-auto">
      <h3 class="text-wrap black-text"><b>Tasks</b> <!-- ADD TASK MODAL BUTTON -->
      <button class="btn" data-toggle="modal" data-target="#add-task-modal">
        {{!-- <a href="/add-task"> --}}
        <img src="images/plus-icon.png" class="icons plus-icon" alt="nope">
        {{!-- </a> --}}
      </button>
      </h3>
    </div>
  </div>
</div>


 <!-- USER TASKS -->
<div class="container"> 
  <div class="row h-100">
    {{#each users}}
      <div class="col-sm-12 col-md-6 col-lg-4 pb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">{{name}}</h5>
              {{#each tasks}}
              {{#unless value}}
              <!-- have to insert unique task id to toggle individual buttons -->
              <button class="btn btn-block btn-info mb-2 mt-2 task-button" data-toggle="collapse" data-target="#task-icons{{_id}}{{../_id}}"> 
                <p>{{name}}</p>
                <p>{{date}}</p>
              </button>
              <div id="task-icons{{_id}}{{../_id}}" class="collapse"> <!-- TASK ICONS -->
                <div class="container-fluid">
                  <div id="icon-row" class="row mt-2">
                    <div id="task-check" class="col-4 text-center"> <!-- CHECK -->
                      <button class="btn btn-outline-success pl-4 pr-4">
                        <img class="icons" src="images/checkmark-icon.png" alt="nope"> 
                      </button>
                    </div>
                    <div id="task-check" class="col-4 text-center"> <!-- EDIT -->
                      <button class="btn btn-outline-primary pl-4 pr-4" data-toggle="modal" data-target="#edit-task-modal">
                        <img class="icons" src="images/edit-icon.png" alt="nope"> 
                      </button>
                    </div>
                    <div id="task-check" class="col-4 text-center"> <!-- DELETE -->
                      <button class="btn btn-outline-danger pl-4 pr-4">
                        <img class="icons" src="images/minus-icon.png" alt="nope"> 
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {{/unless}}
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}  
  </div>
</div>



{{!-- ALL TASKS AND EXPENSES COLLUMNS --}}
<div class="container mb-5">
  <div class="row h-100 mb-3">
    <div class="col-lg-12 col-sm-12 my-auto"> <!-- Expenses -->
      <div class="card">
        <div class="card-body">
          <h3 class="text-wrap black-text card-title"><b>Expenses</b>
            <button class="btn" data-toggle="modal" data-target="#add-expense-modal">
        <img src="images/plus-icon.png" class="icons plus-icon" alt="nope">
            </button>
          </h3>
          {{#each tasks}}
            {{#if value}}
            {{#unless completed}}
            <div class="row">
              <div class="col-md-3 col-xs-12 text-left">
                <a class="card-text">{{name}}</a>
                <button class="btn border-none" data-toggle="modal" data-target="#edit-expense-modal">
                  <img class="icons" src="images/checkmark-icon.png" alt="nope" id-attr="{{_id}}"> 
                </button>
              </div>
              <div class="col-md-2 col-xs-12 text-left">
                <a class="card-text text-muted text-right">Amount: ${{value}}</a>
              </div>
              <div class="col-md-2 col-xs-12 text-left">
                Paid: 
                <a class="card-text text-muted text-right">
                  {{#each paidBy}}
                  {{name}} | 
                  {{/each }}
                </a>
              </div>             
              <div class="col-md-3 col-xs-12 text-left">
                Owes: 
                <a class="card-text text-muted text-right">
              {{#each whoOwes}}
                {{name}} | 
              {{/each}}
                   </a>
              </div>
              <div class="col-md-2 col-xs-12 text-left">
                <a class="card-text text-muted text-right">{{date}}</a>
              </div>
              <form action="/delete/task/{{_id}}" method="post">
                <input type="submit" value="delete">
              </form>
            </div>
            {{/unless}}
            {{/if}}
          {{/each }}
        </div>
      </div>
    </div>
  </div>
  <div class="row h-100">
    <div class="col-lg-12 col-sm-12 my-auto"> <!-- COMPLETED TASKS -->
      <div class="card">
        <div class="card-body">
          <h3 class="text-wrap black-text card-title"><b>Done</b></h3>
          {{#each tasks}}
            {{#if completed}}
            <div class="row">
              <div class="col-6 text-left">
                <a class="card-text">{{name}}</a>
              </div>
              <div class="col-3 text-right">
                {{#each paidBy}}
                <a class="card-text text-muted text-right">{{name}}</a>
                {{/each}}
              </div>
              <div class="col-3 text-right">
                <a class="card-text text-muted text-right">{{date}}</a>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>




<!--Edit Home Modal -->
<div class="modal fade" id="edit-home-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light border-0">
        <h5 class="modal-title black-text" id="exampleModalLabel">Edit your home and roommates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/edit-home" method="POST"> <!--FILL IN EDIT HOME POST ROUTE-->
          <div class="form-group">
            <input type="text" name="name" class="form-control" value="{{group.name}}">
          </div>
          {{#each users}}
        <div class="form-group">
            <input disabled type="text" name="name" class="form-control" value="{{name}}">
            <form action="/delete/userfromgroup/{{_id}}" method="post">
              <input type="submit" value="Remove">
            </form>
          </div>
        {{/each }}
        <!-- insert new input for a roomate -->
          <button type="button" id="add-roommate" class="btn btn-primary">Invite a roomate</button>
          <button type="submit" class="btn btn-success">Edit</button>
        </form>
      </div>
    </div>
  </div>
</div>




<!--Add Task Modal -->
<div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog"   aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light border-0">
        <h5 class="modal-title black-text" id="exampleModalLabel">New task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create/task" method="POST"> <!--FILL IN ADD TASK POST ROUTE-->
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Task name" required>
          </div>
          <div class="form-group">
            <input type="date" name="date" class="form-control" placeholder="Date">
          </div>
          <div id="who-id" class="form-group">
            <label>Who is this for? </label>
            <select class="form-control" name="paidBy">
              {{#each group.people}}
              <option name="paidBy" value="{{_id}}">{{name}}</option>
              {{/each }}
            </select>
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!--Edit Task Modal -->
<div class="modal fade" id="edit-task-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light border-0">
        <h5 class="modal-title black-text" id="exampleModalLabel">Edit task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/edit/task" method="POST"> <!--FILL IN ADD TASK POST ROUTE-->
          <div class="form-group">
            <input type="text" name="name" class="form-control" value="task name to be edited" required>
          </div>
          <div class="form-group">
            <input type="date" name="date" class="form-control" placeholder="Date" value="date to be edited">
          </div>
          <div id="who-id" class="form-group">
            <label>Who is this for? </label>
            <select class="form-control" name="paidBy">
              {{!-- {{ #each user}} --}}
              <option name="whoOwes" value="name of user">name of user</option>
              <option name="whoOwes" value="second-user">second user</option>
              {{!-- {{ /each }} --}}
            </select>
          </div>
          <button type="submit" class="btn btn-success">Edit</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!--Add Expense Modal -->
<div class="modal fade" id="add-expense-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light border-0">
        <h5 class="modal-title black-text" id="exampleModalLabel">New expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create/task" method="POST"> <!--FILL IN ADD EXPENSE POST ROUTE-->
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Expense name" required>
          </div>
          <div class="form-group">
            <input type="text" name="value" class="form-control" placeholder="Total value" required>
          </div>
          <div class="form-group">
            <input type="date" name="date" class="form-control" placeholder="Date">
          </div>
          <div class="form-group"> <!-- PAID BY -->
            <label><b>Paid by: </b></label><br>
            {{#each group.people}}
            <label>
              <input type="checkbox" name="paidBy" class="if-checked" value="{{_id}}"> 
              {{name}}
              {{!-- <input hidden disabled type="number" name="amountPaid" class="form-control amount-paid mb-2" placeholder="Amount paid" required="true"> --}}
            </label>
            {{/each }}
            <input type="number" step="0.01" name="amountPaid" placeholder="Amount Paid">
            <br><label><b>Owed by: </b></label><br>
            {{#each group.people}}
            <label>
              <input type="checkbox" name="whoOwes" class="if-checked" value="{{_id}}"> 
              {{name}}
              {{!-- <input hidden disabled type="number" name="amountOwed" class="form-control amount-paid mb-2" placeholder="Amount owed" required="true" value="<!-- insert total value after divided -->"> --}}
            </label>
            {{/each }}
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>




<!--Pay Expense Modal -->
<div class="modal fade" id="edit-expense-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light border-0">
        <h5 class="modal-title black-text" id="exampleModalLabel">Pay expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/edit/expense" method="POST"> <!--FILL IN ADD EXPENSE POST ROUTE-->
          <div class="form-group">
            <input disabled type="text" name="name" class="form-control" value="">
          </div>
          <div class="form-group">
            <input disabled type="text" name="value" class="form-control" value="total value">
          </div>
          <div class="form-group">
            <input disabled type="date" name="date" class="form-control" value="date">
          </div>
          <div class="form-group"> <!-- PAID BY -->
            <label><b>Paid by: </b></label><br>
              <input disabled type="Text" name="amountPaid" class="form-control amount-paid mb-2" value="{{name}}">
            <br><label><b>Owed by: </b></label><br>
            {{!-- {{ #each user }} --}}
            <label> 
              Rogerio <!-- name -->
              <input disabled type="number" name="amountOwed" class="form-control amount-paid mb-2" value="<!-- insert total value after divided -->">
            </label>
            <br>
            {{!-- {{ /each }} --}}
          </div>
          <button type="submit" class="btn btn-success">Edit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- add expense
name,
date,
value,
paidBy, -> array de pessoas
whoOwes, -> array de pessoas

colocar opcoes de split bill --}}


{{!-- Emmet abreviation div.box>h3+p*3{ola mundo} --}}



{{!-- <h1>Dashboard</h1>
<p>Email: {{user.username}}</p>
<br><br><br><br>
<form action="/create/group" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="group-name" placeholder="Insert group name">
  <label for="name">People:</label>
  <input type="text" name="people" id="group-name" placeholder="Insert email to send invite to">
  <input type="text" name="creator" id="group-name" value="{{user.username}}" hidden="true">
  <input type="submit" value="Submit">
</form>
<br><br><br><br>
<form action="/create/task" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="task-name" placeholder="Insert task name">
  <label for="name">Date:</label>
  <input type="date" name="date" id="task-date">
  <label for="value">Cost:</label>
  <input type="number" name="value" id="task-value" placeholder="$0">

  <input type="text" name="paidBy" id="task-name" placeholder="Created by" value="{{user.name}}">
  <input type="submit" value="Submit">
</form>

{{!-- 
name: String,
date: [Schema.Types.Date],
people: [Schema.Types.ObjectId],
value: { type: Number, default: 0 },
paidBy: { type: [Schema.Types.ObjectId], default: [null] },
whoOwes: { type: [Schema.Types.ObjectId], default: [null] }, 
--}}
